@import "compass/css3";

html, body {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.1);
}

header a {
  color: white;
  float: right;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

#hero1 {
  background: url(imagenes/barrio.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero2 {
  background: url(imagenes/edificio.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 600px;
  position: relative;
}

.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}

.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

.hero h1,
.hero p {
  color: #fff;
}

.content h1,
.content p {
  color: #333;
}

h1 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 32px;
  padding: 0 20px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 0 20px;
}

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
    padding: 60px 50px;
    margin-top: -250px; /* Ajusta el margen superior para subir las cartas */
  }
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
/* Ajusta el margen para centrar las cartas */
.game-section .item {
  margin: 0 auto 60px auto;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

/* Aumenta el valor del ancho activo y ajusta la transformación */
.game-section .item.active {
  width: 500px; /* Aumenta el ancho activo para expandir más hacia la derecha */
  transform: translateX(-30px); /* Ajusta la transformación para centrar */
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

/* Aumenta el tamaño y mueve las flechas hacia arriba */
.game-section .owl-nav {
  position: absolute;
  bottom: 20px; /* Ajusta la distancia desde abajo */
  left: 0;
  right: 0;
  text-align: center;
}

/* Aumenta el tamaño de las flechas */
.game-section .owl-nav button {
  font-size: 24px; /* Aumenta el tamaño de las flechas */
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px; /* Aumenta el ancho de las flechas */
  height: 40px; /* Aumenta la altura de las flechas */
  margin: 0 10px; /* Ajusta el espacio entre las flechas */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Cambia el estilo al pasar el mouse sobre las flechas */
.game-section .owl-nav button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
